---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

/*
   Variables
   ========================================================================== */

@import "variables";


/*
   Vendor
   ========================================================================== */

/* Breakpoint - media query mixins */
@import "vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);

/* Font Awesome - icon font set */
@import "vendor/font-awesome/font-awesome";

/* Magnific Popup - responsive lightbox */
@import "vendor/magnific-popup/magnific-popup"; // Magnific Popup

/* Susy - grid mixins */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);
@import "vendor/susy/susy";


/*
   Base
   ========================================================================== */

@import "mixins";
@import "reset";
@import "base";
@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";
@import "forms";
@import "mcstatus";
@import "staff";


/*
   Layout specific
   ========================================================================== */

@import "page";
@import "archive";
@import "sidebar";
@import "print";
