---
layout:     single
title:      "Staff"
date:       2016-11-22T19:00:00-05:00
permalink:  /about/staff/
sidebar:
  nav:  "about"
---
<div class="staff-row">
   <div class="staff-image">
     <img src="/assets/images/avatars/miescha.jpg" alt="Miescha" width="150" height="150"/>
   </div>
   <div class="staff-text">
       <h3>Miescha, Founder and Owner</h3>
       I’m Miescha, one of the Co-Owners of Collegi and the one that does most
       of the crazy builds around the server. I’m an audio technician in
       training and play more instruments than I should when I’m not on my
       computer gaming or playing with Protools. Feel free to ask questions,
       I’m here to help!
   </div>
</div>
<br/>
<div class="staff-row">
   <div class="staff-image">
     <img src="/assets/images/avatars/zyradyl.jpg" alt="Zyradyl" width="150" height="150"/>
   </div>
   <div class="staff-text">
       <h3>Zyradyl, Co-Owner and Head Developer</h3>
       Have you ever spent five to ten minutes on a battle, whittling away at a
       rare or legendary Pokemon, and right when the pokeball closes the server
       crashes? Then you've met our developer, Zyra! Outside of Collegi, she's a
       freelance tech writer, a volunteer crisis counsoler, and a pharmacy
       student.
   </div>
</div>
<br/>
<div class="staff-row">
   <div class="staff-image">
     <img src="/assets/images/avatars/sakugu.jpg" alt="Sakugu" width="150" height="150"/>
   </div>
   <div class="staff-text">
       <h3>Sakugu, Administrator and Builder</h3>
       I'm an extremely optimistic person with a slightly querky personality. I
       love to help anyone I can if I'm able or sometimes if I'm not. I'm like
       a gear, always turning, always doing something, and each groove holds
       something new and sometimes unexpected.
   </div>
</div>
<br/>
<div class="staff-row">
   <div class="staff-image">
     <img src="/assets/images/avatars/seara.png" alt="Seara" width="150" height="150"/>
   </div>
   <div class="staff-text">
       <h3>Seara, Supremely Salty Artificial Intelligence</h3>
       I don't have time to write this. I have to write this? Fine. I do stuff
       around the server. Like help you. Because you clearly are incapable of
       helping yourself. I also take out the garbage when it manages to become
       sentient enough to play on Collegi. Don't fuck with me, and I won't fuck
       with you. Cool. Bye.
   </div>
</div>
